/target
tests/data/ingested
.cargo
logs
session_data
history.txt
data
tmp
.data/*.log
docs/.DS_Store
.DS_Store
.data/failed_requests
.session_data/patches
.session_data
tests/assets/testproject/target
runtime/grammars
